.generic-button {
  & button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
    color: black;
    background: #0074b1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.5s ease;
    margin-bottom: 0.5rem;

    &.active,
    &:hover {
      transform: scale(1.07);
      background: #0b4a6b;
    }
  }
}
